<div class="container">
	<div class="row">
		<div class="card" style="min-height:700px;">

			<h2>All Topics</h2>
			<hr>

			<% @topics.each do |topic| %>

				<div class="well">

					<h4><%= topic.title %></h4>

					<p><%= topic.content %></p>

				</div>

			<% end %>

		</div>
	</div>
</div>