<div class="container">
	<div class="row">
		<div class="card" style="min-height:700px;">

			<h2>Create New Topic</h2>
			<hr>

			<%= render 'form' %>

			<hr>
			<p><%= link_to "View All", topics_path %></p>

		</div>
	</div>
</div>