<div class="row"> 
	<div class"twelve columns">
		<div class="well">
			<h4><%= @assignmenttask.title %></h4>
			<p class="well"><%= @assignmenttask.content %></p>
			<%= f.label :input, "Your Solution:"%> <br />
			<%= f.text_area :input, :rows => 2, :style => "width:100%;" %> <br />
		</div>
	</div>
</div>