<div class="container">
	<div class="row">
		<div class="card" style="min-height:700px;">

			<h2>All Participants</h2>
			<hr>

			<% @enrollments.each do |user| %>

				<div class="well">

					<h4>User: <%= enrollment.user_id %></h4>

					<p>Course: <%= enrollment.course_id %></p>

					<p style="float:right;">
						<%= link_to "Destroy", topic, :confirm => "Are you sure?", :method => :delete %>
					</p>

				</div>

			<% end %>

		</div>
	</div>
</div>