<div class="container">
	<div class="row">
		<div class="card" style="min-height:700px;">

			<h2>All Participants</h2>
			<hr>

			<% @enrollments.each do |enrollment| %>

				<div class="well">

					<p>User: <%= enrollment.user_id %></p>
					<p>Course: <%= enrollment.course_id %></p>
					
				</div>

			<% end %>

		</div>
	</div>
</div>