<div class="container">
	<div class="row">
		<div class="card" style="min-height:700px;">

			<h2>All Participants</h2>
			<hr>

			<% @enrollments.each do |enrollment| %>

				<div class="well">

					<p>Test</p>
					
				</div>

			<% end %>

		</div>
	</div>
</div>