<div class="tab-pane" id="allsubmissions">
  <p>Challenge Submission</p>
  <hr>
  <div class="well">
  <h4>Peer Feedback</h4>
    <div class="form-actions">
      Submission Content
    </div>

    <div class="well well-small">
      <div class="row">
        <div class="one columns">
        </div>
        <div class="one columns">
            <div class="votes">
                <div class="vote">
                    <div class="up-vote"><h5><a href="#">▲</a></h5></div>
                    <div class="count"><h4 style="color:#363636;">0</h4></div>
                    <div class="down-vote"><h5><a href="#">▼</a></h5></div>
                </div>
            </div>
        </div>

        <div class="ten columns">
          <h5>Testing Comment <small>Nov. 2nd, 2012</small></h5>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
        </div>
      </div>
    </div>
  </div>
</div>



