<p>
	<%= f.label :content, "Assignment Task" %> <br />
	<%= f.text_area :content, :rows => 3, :style => "width: 100%;" %> <br />
	<%= f.hidden_field :_destroy %>
	<%= link_to_remove_fields "remove", f %>
</p>