<div class="eight columns well">
	<h5 style="color:#646464;"><%= @course.challenge_title %> | Deadline: <%= @course.end_date %></h5>
	<p><%= @course.challenge_description %></p>	
	<button class="btn btn-block btn-info">SUBMIT SOLUTION</button>
</div>