<%= form_for(@course) do |f| %>

	<p>MATERIALS</p>

	<hr style="border: solid #fff;">
	  
	<div class="actions">
		<div class="well well-large"><%= f.submit :class => "btn btn-large btn-block btn-success" %></div>
	</div>

<% end %>