<!-- company access -->

<div class="container">
	<div class="row">
		<div class="card" style="min-height:900px;">

			<%= render 'backend_form' %>

			<div class="form-actions">
				<%= link_to 'All Courses', courses_path, :class => 'btn', :style => "float:right;" %>
			</div>

		</div>
	</div>
</div>
